section.section1 {overflow: scroll; position: absolute; height: 75%; width: 100%; visibility: hidden;}
section.section2 {overflow: scroll; position: absolute; height: 75%; width: 100%; visibility: hidden;}

footer {font-style: italic; text-align: center; position: absolute; bottom: 2px; height: 25%; width: auto;}
#menu {background-color: #B2D1FF; height: 10%;}

#FirstConcept {height: 100px; width: 125px; padding: 5pt;}
#SecondConcept {height: 100px; width: 125px; padding: 5pt;}

